{%  extends "users/basic.html" %}

{% block content %}
    <div class="container mt-4">
        <h2>Profile</h2>
        {% if preview_mode %}
            <p class="text-muted">Preview mode. Login to edit your profile.</p>
        {% endif %}
        <form method="post">
            {% csrf_token %}
            {{u_form.as_p}}
            <div>
                <button  class="btn btn-primary mt-2" type="submit" {% if preview_mode %}disabled{% endif %}> Update Profile</button>
            </div>
        </form>

        <p>Want to change your password? <a href="{% url 'password_reset' %}">Reset it here</a>.</p>

        <h2>Booking</h2>
        <ul>
            {% for booking in booking %}
            <li>
                movie: {{ booking.movie.title }} <br>
                theater: {{ booking.theater.name }} <br>
                seats: {{ booking.seats.seat_number}} <br>
                booked_at: {{ booking.booked_at }} <br>
            </li>
            {% empty %}
            <li>You have no bookings yet. </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
