{% extends "users/basic.html" %} {% block content %}
<h1>Seats for {{ theater.name }} - {{ theater.Movie.name }}</h1>
{% if error %}
<p style="color: red">{{ error }}</p>
{% endif %}
<form method="post">
  {% csrf_token %}
  <ul>
    {% for seat in seats %}
    <li>
      Seats: {{ seat.seat_number }}: {% if seat.is_booked %}
      <strong>Booked {{ seat.seat_number }}</strong>
      {% else %}
      <input type="checkbox" name="seats" value="{{ seat.id }}">
      <strong>Available seat {{seat.seat_number}}</strong>
      {% endif %}
    </li>
    {% endfor %}
  </ul>
  <button type="submit">Book Selected Seats</button>
</form>

{% endblock %}
